@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins';
}

.row1 h5 {
  font-size: 20px;
  font-weight: 600;
}
.row1 .wrapper-navigation-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navigation .btn-keluar {
  background-color: #ffdbeb;
  width: 250px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation .btn-keluar:hover {
  background-color: #f7c1d9;
}
.btn-keluar ion-icon {
  font-size: 25px;
}
.btn-keluar span {
  font-size: 18px;
  font-weight: 600;
}

.row1 .wrapper-navigation-2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
}
.wrapper-navigation-2 .link-item {
  border-radius: 5px;
  text-decoration: none;
  color: black;
  padding: 15px 25px;
  background-color: #ebeded;
  display: flex;
  gap: 10px;
  justify-content-center: center;
  align-items: center;
}
.wrapper-navigation-2 .link-item:hover {
  background-color: #e3e1e1;
}
.link-item ion-icon {
  font-size: 30px;
}
.link-item h5 {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  top: 2px;
}
.btn-hapus {
  border: none;
}
.btn-tambah {
  width: 200px;
  padding: 10px 25px;
  border-radius: 10px;
  background-color: #dee0df;
}
.btn-tambah:hover {
  background-color: #cdd4d0;
}