@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins';
}

.row1 .wrapper-cover {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.row1 .wrapper-cover img {
  width: 100%;
}
.row1 .col-md-8 h4 {
  font-weight: 600;
  margin-bottom: 10px;
}
.row1 .col-md-8 small {
  color: #8d93c7;
}
.col-md-8 .wrapper-rating {
  width: 100px;
  position: relative;
  left: -5px;
  margin-top: 10px;
}
.col-md-8 .wrapper-rating ion-icon {
  color: #de9a07
}