@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Open+Sans:wght@300;400;500&family=Poppins:wght@400;500;600;700;800&display=swap');

body {
  font-family: 'Poppins';
}
.row1 h5 {
  font-size: 20px;
  font-weight: 600;
}
.row1 .wrapper-navigation-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.navigation .btn-keluar {
  background-color: #ffdbeb;
  width: 250px;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navigation .btn-keluar:hover {
  background-color: #f7c1d9;
}
.btn-keluar ion-icon {
  font-size: 25px;
}
.btn-keluar span {
  font-size: 18px;
  font-weight: 600;
}

.book-cover {
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}
.book-cover img {
  width: 100%;
}

.wrapper-rating {
  margin-top: 10px;
}
.wrapper-rating ion-icon {
  color: #f2b418;
}
.wrapper-aksi {
  width: 400px;
  display: flex;
  gap: 10px;
}
.wrapper-aksi a {
  width: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-ubah {
  background-color: #e8e7e6;
}
.btn-ubah:hover {
  background-color: #dbdad9;
}
.btn-hapus {
  background-color: #e8e7e6;
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
}
.btn-hapus:hover {
  background-color: #dbdad9;
}
.wrapper-aksi a ion-icon {
  font-size: 20px;
}
.wrapper-aksi button ion-icon {
  font-size: 20px;
}